
body{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  color: dimgray;
}
nav{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
ul{
  display: flex;
  align-items: center;
  padding-left: 0px;
}
li{
  list-style-type: none;
  padding-left: 20px;
}
.lien{
  color: rgb(173, 171, 171);
  text-decoration: none;
  padding: 14px 25px;
}
a:hover{
  color: slateblue;
}
header{
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
h1{
  font-family: 'Abril Fatface', cursive;
  color: #D05270;
}
h2{
  font-size: 30px;
}
.entete{
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.illustration{
  padding-left: 50px;
  width: 40%;
}
.button{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

/* Début CSS des bouttons */

.textetwitter{
  background-color: #10A9F4;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.twitter{
  width: 30px;
  height: 30px;
  padding-right: 30px;
}
.textelinkedin{
  background-color: #4876B4;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.linkedin{
  width: 30px;
  height: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
.textemedium{
  background-color: #323132;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.medium{
  width: 30px;
  height: 30px;
  padding-right: 30px;
}

/* Fin CSS des bouttons */

/* Début CSS de la grille */

section{
  max-width: 1200px;
  width: 100%;
  display: grid;
  padding-top: 75px;
  padding-bottom: 75px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr;
}
.ordi{
  width: 100%;
}
h3{
  color: #D05270;
}
span{
  text-decoration: none;
  border-bottom: #D05270 1px solid;
}
.lienblog{
  color: #D05270;
  text-decoration: none;
}
.un{
  grid-column: 0;
  grid-row: 1;
}
.deux{
  grid-column: 1;
  grid-row: 1;
}
.trois{
  grid-column: 0;
  grid-row: 2;
}
.quatre{
  grid-column: 1;
  grid-row: 2;
}
.cinq{
  grid-column: 0;
  grid-row: 3;
}
.six{
  grid-column: 1;
  grid-row: 3;
}

/* Fin CSS de la grille */

@media screen and (min-width: 200px) and (max-width: 640px) {
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul, li{
    display: flex;
    flex-direction: column;
  }
  header{
    flex-direction: column-reverse;
    align-items: center;
  }
  h1, h2{
    text-align: center;
  }
  .button{
    flex-direction: column;
    gap: 10px;
  }
  section{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .un{
    grid-row: 1;
  }
  .deux{
    grid-row: 2;
  }
  .trois{
    grid-row: 3;
  }
  .quatre{
    grid-row: 4;
  }
  .cinq{
    grid-row: 5;
  }
  .six{
    grid-row: 6;
  }
}
@media screen and (min-width: 640px) and (max-width: 640px) {
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul, li{
    display: flex;
    flex-direction: column;
  }
  header{
    flex-direction: column-reverse;
    align-items: center;
  }
  h1, h2{
    text-align: center;
  }
  .button{
    flex-direction: column;
    gap: 10px;
  }
  section{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .un{
    grid-row: 1;
  }
  .deux{
    grid-row: 2;
  }
  .trois{
    grid-row: 3;
  }
  .quatre{
    grid-row: 4;
  }
  .cinq{
    grid-row: 5;
  }
  .six{
    grid-row: 6;
  }
}